<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="easyandfaster" translate="label" sortOrder="11">
            <label>easyandfaster</label>
        </tab>
        <section id="easyandfaster_adminshipping" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Admin Shipping Method</label>
            <tab>easyandfaster</tab>
            <resource>EasyAndFaster_AdminShipping::config_adminshipping</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="adminshipping_display" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Shipping method</label>
                    <source_model>EasyAndFaster\AdminShipping\Model\Display</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="adminshipping" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping method</label>
                    <source_model>EasyAndFaster\AdminShipping\Model\Shippingmethod</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>